@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
}

/* ---HEADER--- */

header {
  background-image: url(logoBackground.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

.appLogo {
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.appLogo:hover {
  border: 5px solid #ff5757;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-items: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* ---BODY--- */
body{
  margin-top: 170px;
}


/* ---HOME--- */
.apartmentHome {
  height: 500px;
  display: center;
}